# ML ZoomCamp Homework Session 1

The development enviroment was configured following the steps described in: [06-environment.md](https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/01-intro/06-environment.md)

- [Question 1](#question-1)
- [Question 2](#question-2)
- [Getting the data](#get-data)
- [Question 3](#question-3)
- [Question 4](#question-4)
- [Question 5](#question-5)
- [Question 6](#question-6)
- [Question 7](#question-7)

In [1]:
import numpy as np
import pandas as pd
import os

## Question 1 <a class="anchor" id="question-1"></a>

What's the version of NumPy that you installed?
You can get the version information using the `__version__` field:

In [2]:
print(f"[ANSWER-1] The version of NumPy is: {np.__version__}")

[ANSWER-1] The version of NumPy is: 1.19.5

## Question 2 <a class="anchor" id="question-2"></a>

What's the version of Pandas?

In [3]:
print(f"[ANSWER-2] The version of Pandas is: {pd.__version__}")

[ANSWER-2] The version of Pandas is: 1.3.2

## Getting the data <a class="anchor" id="get-data"></a>

For this homework, we'll use the same dataset as for the next session - the car price dataset.

In [4]:
if not os.path.isfile("data.csv"):
    !wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

df = pd.read_csv("data.csv")
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 3 <a class="anchor" id="question-3"></a>

What's the average price of BMW cars in the dataset?

In [5]:
# Check available car Make
df['Make'].unique()

array(['BMW', 'Audi', 'FIAT', 'Mercedes-Benz', 'Chrysler', 'Nissan',
       'Volvo', 'Mazda', 'Mitsubishi', 'Ferrari', 'Alfa Romeo', 'Toyota',
       'McLaren', 'Maybach', 'Pontiac', 'Porsche', 'Saab', 'GMC',
       'Hyundai', 'Plymouth', 'Honda', 'Oldsmobile', 'Suzuki', 'Ford',
       'Cadillac', 'Kia', 'Bentley', 'Chevrolet', 'Dodge', 'Lamborghini',
       'Lincoln', 'Subaru', 'Volkswagen', 'Spyker', 'Buick', 'Acura',
       'Rolls-Royce', 'Maserati', 'Lexus', 'Aston Martin', 'Land Rover',
       'Lotus', 'Infiniti', 'Scion', 'Genesis', 'HUMMER', 'Tesla',
       'Bugatti'], dtype=object)

In [6]:
# Normalizing car Make

df['Make'] = df['Make'].str.lower().str.replace(" ", "_").str.replace("-", "_")
df['Make'].unique()

array(['bmw', 'audi', 'fiat', 'mercedes_benz', 'chrysler', 'nissan',
       'volvo', 'mazda', 'mitsubishi', 'ferrari', 'alfa_romeo', 'toyota',
       'mclaren', 'maybach', 'pontiac', 'porsche', 'saab', 'gmc',
       'hyundai', 'plymouth', 'honda', 'oldsmobile', 'suzuki', 'ford',
       'cadillac', 'kia', 'bentley', 'chevrolet', 'dodge', 'lamborghini',
       'lincoln', 'subaru', 'volkswagen', 'spyker', 'buick', 'acura',
       'rolls_royce', 'maserati', 'lexus', 'aston_martin', 'land_rover',
       'lotus', 'infiniti', 'scion', 'genesis', 'hummer', 'tesla',
       'bugatti'], dtype=object)

In [7]:
# Computing BMW cars average price

print(f"[ANSWER-3] Average price of BMW cars is {df[df['Make'] == 'bmw']['MSRP'].mean()}")

[ANSWER-3] Average price of BMW cars is 61546.76347305389

## Question 4 <a class="anchor" id="question-4"></a>

Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after). How many of them have missing values for Engine HP?

In [8]:
print(f"[ANSWER-4] There are {df[df['Year'] >= 2015]['Engine HP'].isnull().sum()} missing values in 'Engine HP'")

[ANSWER-4] There are 51 missing values in 'Engine HP'

## Question 5 <a class="anchor" id="question-5"></a>

<ul>
<li>Calculate the average "Engine HP" in the dataset.</li>
<li>Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step </li>
<li>Now, calcualte the average of "Engine HP" again.</li>
<li>Has it changed?</li>
</ul>

Round both means before answering this questions. You can use the round function for that:

In [9]:
mean_hp_before = round(df['Engine HP'].mean())
df['Engine HP Filled'] = df['Engine HP'].fillna(mean_hp_before)
mean_hp_after = round(df['Engine HP Filled'].mean())

print(f"Mean HP before ({mean_hp_before}) and Mean HP after ({mean_hp_after}) are equal?: {mean_hp_before == mean_hp_after}")
print("[ANSwER-5] No, the HP mean value has not change")

Mean HP before (249) and Mean HP after (249) are equal?: True
[ANSwER-5] No, the HP mean value has not change

## Question 6 <a class="anchor" id="question-6"></a>

<ul>
<li>Select all the "Rolls-Royce" cars from the dataset.</li>
<li>Select only columns "Engine HP", "Engine Cylinders", "highway MPG".</li>
<li>Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).</li>
<li>Get the underlying NumPy array. Let's call it X.</li>
<li>Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.</li>
<li>Invert XTX.</li>
<li>What's the sum of all the elements of the result?</li>
</ul>

Hint: if the result is negative, re-read the task one more time

In [10]:
rr_df = df[df['Make'] == 'rolls_royce']
rr_df = rr_df[['Engine HP', 'Engine Cylinders', 'highway MPG']]
rr_df.drop_duplicates(inplace=True)
X = rr_df.values
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
print(f"[ANSWER-6] The sum of all elements is: {np.sum(XTX_inv)}")

[ANSWER-6] The sum of all elements is: 0.032212320677486125

## Questions 7 <a class="anchor" id="question-7"></a>
<ul>
<li>Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].</li>
<li>Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.</li> 
<li>What's the value of the first element of w?.</li>
</ul>

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.

In [11]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])
XTXiXT = XTX_inv.dot(X.T)
w = XTXiXT.dot(y)
print(f"The w vector is: {w}")
print(f"[ANSWER-7] The first element of w is: {w[0]}")

The w vector is: [ 0.19989598 31.02612262 31.65378877]
[ANSWER-7] The first element of w is: 0.19989598183188978